<main>
    <aside>
        <div id="logos_container">
            <img src="<?= IMG ?>/logo.png" alt="Rhuma Sug">
            <div class="since_date">Since 1969</div>
        </div>
    </aside>
    <article>
        <?php include TEMPLATE_PARTS . '/_nav.php' ?>
        <section id="error_section">
            <div>
                <span> 404 </span>
                <span>Page not found</span>
            </div>
            <a href="home">Back to homepage</a>
        </section>
    </article>
</main>
<div id="for_background"></div>