{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Rums
{% endblock %}

{% block section %}
	<section id="product_section"></section>
{% endblock %}

{% block product_carousel %}
	{% include "/template_parts/_product_slider.html.twig" %}
{% endblock %}

{% block body %}
	<script type="module" src="js/modules/_rum.js"></script>
{% endblock %}
