{% extends 'base.html.twig' %}

{% block title %} 
    {{parent()}} - Rhum
{% endblock %}

{% block body %}
    <h1>Rhum</h1>
    {% block section %}
        <section id="product_section"></section>
    {% endblock %}
{% endblock %}