<div id="loader_wrapper">
    <div class="loader_text">
        <div>R</div>
        <div>H</div>
        <div>U</div>
        <div>M</div>
        <div>A</div>
        <div>-</div>
        <div>S</div>
        <div>U</div>
        <div>G</div>
    </div>
    <div id="close_loader">
        <i class="far fa-times"></i>
    </div>
    <video src="<?= IMG ?>/loader.mp4" type="video/mp4" id="loader" alt="Loading..." autoplay muted></video>
</div>