<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="img/favicon.ico">
        <title>{% block title %}Rhuma Sug{% endblock %}</title>

        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            <link rel="stylesheet" href="../../css/config.css">
            <link rel="stylesheet" href="../../css/style.css">
            <link rel="stylesheet" href="../../css/animation.css">
            <link rel="stylesheet" href="../../css/forms.css">
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <script type="module" src="../../js/main.js" defer></script>
        {% endblock %}
    </head>
	<body>
        {% include "/template_parts/_video_loader.html.twig" %}
		<main>
			<aside>
				<div id="logos_container">
					<img src="img/logo.png" alt="Rhuma Sug">
					<div class="since_date">Since 1969</div>
				</div>
		        {% block product_carousel %}{% endblock %}
			</aside>
			<article>
		        {% include "/template_parts/_nav.html.twig" %}
                {% block section %}{% endblock %}
			</article>
		</main>
		<div id="for_background"></div>
		{% block body %}{% endblock %}
	</body>
</html>
